doctype html
html(lang="en")
    head
        title pageTitle
        script(src="https://cdn.socket.io/socket.io-1.3.7.js")
        script(src="http://code.jquery.com/jquery-2.1.4.min.js")
        script(src="/main.js")
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')
    body
        div.color
        div.wrap
            div.score-wrap
                table.score
                    tr
                        td CT
                        td T
                    tr
                        td.ct-score 0
                        td.t-score 0
            div.container
                div.timelabel Round Time
                dev.time 1:55
            div.container
                div.name Waiting for data
            div.container
                div.weapon
                    ul
                        li.rifle
                            table
                                tr
                                    td.pic
                                tr
                                    td.ammo
                        li.pistol
                            table
                                tr
                                    td.pic
                                tr
                                    td.ammo

                        li.knife
                            table
                                tr
                                    td.pic
                div.grenade
                    ul
                        li.g1
                            table
                                tr
                                    td.pic
                                    td.ammo
                        li.g2
                            table
                                tr
                                    td.pic
                                    td.ammo
                        li.g3
                            table
                                tr
                                    td.pic
                                    td.ammo
                        li.g4
                            table
                                tr
                                    td.pic
                                    td.ammo